html {
  box-sizing: border-box;
}
/* cubic-bezier(0.4, 0, 0.2, 1) */
*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --second-text-color: #ffffff;
  --body-color: #ffffff;
  --second-body-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --adress-footer-color: rgba(255, 255, 255, 0.6);
  --second-footer-color: rgba(255, 255, 255, 0.4);
}

body {
  background-color: var(--second-text-color);
  color: var(--title-text-color);
  font-family: Roboto;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
}
button {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  line-height: 1.9;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 2px solid var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.06em;
}
/* header container */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.page-header {
  border-bottom: 1px solid #ececec;
}
.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.accent-logo {
  color: var(--accent-color);
}
/* site-nav */
.site-nav {
  display: flex;
  margin-left: 85px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
  position: relative;
}
.link.current::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}
/* contcts nav */

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-nav-li {
  display: inline-flex;
  align-items: center;
  fill: #afb1b8;
}
.contacts-nav-li:hover .svg-envelop,
.contacts-nav-li:hover .svg-tel {
  fill: var(--accent-color);
}
.contacts-nav-li:hover .contacts {
  color: var(--accent-color);
}
.svg-envelop {
  margin-right: 10px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-tel {
  margin-right: 10px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav .contacts-nav-li + .contacts-nav-li {
  margin-left: 30px;
}

.contacts-nav .contacts {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}

/* main container */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-nav {
  display: flex;
  align-items: center;
}
.button {
  margin-bottom: 34px;
  display: flex;
  justify-content: center;
}
.button .item:not(:last-child) {
  margin-right: 8px;
}
.button .link {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--primary-text-color);
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  letter-spacing: 0.03em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button .link:hover,
.button .link:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
/* works */
.works {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: -15px;
}
.example {
  display: block;

  width: 370px;
  text-align: initial;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin: 15px;
}
.example:hover {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
.work {
  padding: 20px 24px;
}
.works-title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.works-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.second-work {
  position: relative;
  overflow: hidden;
}

.second-work::before {
  content: "";
  display: inline-flex;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(300px);
  background-color: rgba(33, 150, 243, 0.9);
}
.example:hover .second-work::before {
  opacity: 1;
  transform: translateY(0);
}
.second-text {
  position: absolute;

  opacity: 0;
  transform: translateY(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 168px;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.example:hover .second-text {
  opacity: 1;
  transform: translateY(-300px);
}
/*footer */

.footer {
  background-color: var(--footer-background-color);
  margin-left: auto;
  margin-right: auto;
}
.footer-nav {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}
.footer-adress {
  width: 230px;
}

.adress-main {
  margin-bottom: 9px;
  color: var(--body-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.adress-info {
  color: var(--adress-footer-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
}
.footer-mail {
  margin-bottom: 10px;
}

.adress-info:hover,
:focus {
  color: var(--accent-color);
}

.footer-down {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 18px;
  padding-bottom: 21px;

  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: var(--second-footer-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
.footer-logo {
  display: flex;
  margin-bottom: 9px;
  color: var(--second-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: none;
}
.second-logo {
  color: var(--body-color);
}
.footer-connect {
  margin-bottom: 20px;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--body-color);
}
.footer-links {
  display: flex;
}
.footer-links .link {
  margin-right: 10px;
}
.footer-links .link:nth-child(4) {
  margin-right: 0;
}
.social {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer {
  background: rgba(255, 255, 255, 0.1);
}

.social:hover,
.social:focus {
  fill: var(--second-text-color);
  background-color: var(--accent-color);
}

.footer-title {
  margin-bottom: 20px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: var(--body-color);
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--footer-background-color);
  color: var(--second-text-color);
}
.button-primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}
.footer-send {
  margin-left: 10px;
}
